<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="default_transmission" params="number">
        <transmission name="transmission_${number}">
            <plugin>transmission_interface/SimpleTransmission</plugin>
            <actuator name="motor_${number}" role="actuator1"/>
            <joint name="joint_${number}"    role="joint1">
                <mechanical_reduction>1.0</mechanical_reduction>
            </joint>
        </transmission>
    </xacro:macro>

</robot>
